footer {
  background: var(--color-primary);
  padding: 3rem 0;
  text-align: center;
  font-size: 0.7rem;
  margin-top: 5rem;
}
footer a {
  color: var(--color-bg);
}
.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}

.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 2rem;
}

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.footer__socials a {
  background: transparent;
  color: var(--color-bg);
  padding: 0.8rem;
  border-radius: 0.5rem;
  display: flex;
  border: 1px solid var(--color-bg);
}
.footer__socials a:hover {
  background: var(--color-bg);
  color: var(--color-primary);
  border-color: transparent;
}
.footer__copyright {
  margin-bottom: 4rem;
  color: var(--color-bg);
}
